  {%block footer%}
   <div class="links">
        <div class="company">
            <p>COMPANY<p>
            <img src={{ url_for('static', filename = '/img/projeco-logo.svg')}} alt="logo">
            <p>Lorem ipsum dolor sit amet, consectetuer<br>
                adipiscing elit, sed diam nonummy nibh<br>
                euismod tincidunt ut laoreet dolore<br>
                magna aliquam erat.</p>
        </div>
        <div class="links_nav">
            <p>LINKS</p>
            <div class="links_wrap">
                {% for item in navbar %}
                  <a href="{{url_for('index', _anchor = item ) }}">{{item.upper()}}</a>
                {% endfor %}   
            </div>
        </div>
        <div class="another_links">
          {% for item in links_one %}
            <a href = "{{url_for('links', link = item)}}">{{item.upper()}}</a>
          {% endfor %}
        </div>
        <div class="another_links">
          {%for item in links_two %}
            <a href="{{url_for('links', link = item )}}">{{item.upper()}}</a>
          {% endfor %}
        </div>
        <div class="our_contact">
            <p>CONTACT US</p>
            <p>213 Baker Street <br>
                Oriel City Kounty <br>
                7000 KNW, <br>
                Kountry Name <br>
                <br>
                +23 994 233 4022 <br>
                <br>
                info@konstruct.com</p>
        </div>
        <div class="media_logo">
            <a href="facebook.com"><img src={{ url_for('static', filename = '/img/facebook logo.svg')}} alt="facebook"></a>
            <a href="twitter.com"><img src={{ url_for('static', filename = '/img/twitter logo.svg')}} alt="twitter"></a>
            <a href="google.com"><img src={{ url_for('static', filename = '/img/google logo.svg')}} alt="google"></a>
        </div>
    </div>
    <footer>
        <p>
            © 2017 Konstruct Inc. Designed by Jane Kathryn Teo
        </p>
    </footer>
    {% endblock %}
