body {
    margin: 0;
}

h1,
h2,
h3,
h4,
p,
article,
span {
    cursor: default;
    
}

.hero {
    background-image:url('../img/bg.png');
    background-size:cover;
    background-repeat: no-repeat;
   background-position: center;
    
}

.logo {
    display: flex;
    justify-content: center;
    align-content: center;
    padding-top: 41px;
    padding-bottom: 317px;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero h1 {
    font-size: 60px;
    color: white;
    font-family: sans-serif;
    text-align: center;
    margin-bottom: 10px;
    line-height: 70px;
    letter-spacing: 6px;
}

.hero p {
    color: white;
    text-align: center;
    margin-top: 0;
    padding-bottom: 221px;
}

.hero a {
    padding-bottom: 71px;
    text-decoration: none;
    color: white;
    text-align: center;
    font-weight: 600;
    font-size: 11px;
    line-height: 15px;
}

header {
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border: 1px solid #E6E6E6;
    box-sizing: border-box;
    padding-top: 25px;
    padding-bottom: 25px;
    position: sticky;
    top: 0;
}

nav a {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    color: #48555B;
    letter-spacing: 1px;
    text-decoration: none;
    margin-left: 30px;
}

nav a:hover {
    font-weight: bold;
    animation-name: navbar;
    animation-duration: 250ms;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes navbar {
    50% {
        border-bottom: 1px dotted cyan;
        color: #1689b6;
    }

    100% {
        border-bottom: 2px solid cyan;
        color: #00A4E5;
    }
}

.ourstory {
    margin-top: -55px;
    padding-top: 55px;
    background-color: white;
}

.ourstory h2 {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 10px;
    color: #48555B;
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 2px;
}

.ourstory hr {
    width: 50px;
    height: 2px;
    margin-top: 0;
    border: none;
    color: #00A4E5;
    background-color: #00A4E5;
    margin-bottom: 80px;
}

.ourstory_content {
    display: flex;
    justify-content: center;
}

.text {
    margin-right: 10.6em;
}

.text article {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 27px;
    letter-spacing: 0;
    color: #48555B;
}

.text span {
    color: #33B6EB;
}

.text p {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 23px;
    display: flex;
    align-items: center;
    letter-spacing: 0;
    color: #48555B;
    padding-bottom: 119px;
}

.service {
    display: flex;
    justify-content: center;
    margin-top: -70px;
    padding-top: 70px;
}

.header_and_line {
    margin-right: 9em;
}

.header_and_line h3 {
    font-family: "Open Sans",sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 2px;
    color: #48555B;
    margin-bottom: 0;
}

.header_and_line hr {
    width: 70px;
    height: 2px;
    border: none;
    color: #00A4E5;
    background-color: #00A4E5;
    margin-bottom: 80px;
    float: left;
}

.service p {
    font-family: "Open Sans",sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 23px;
    letter-spacing: 0;
    color: #48555B;
}

.service button {
    margin-top: 15px;
    margin-left: 3em;
    width: 150px;
    height: 40px;
    border: none;
    color: white;
    background-color: #00A4E5;
    outline: none;

}

.service button:hover {
    cursor: pointer;
    animation-name: service_button;
    animation-fill-mode: forwards;
    animation-duration: 1s;

}

.service button:focus {
    background-color: #052d3d;
}

@keyframes service_button {
    100% {
        background-color: #0d5875;
        border-radius: 5%;
    }
}

.ourworks {
    display: flex;
    justify-content: center;
    margin-top: -75px;
    padding-top: 75px;

}

.box {
    padding-left: 30px;
    padding-right: 30px;
    margin-left: 1.1em;
    margin-right: 1.1em;
    border: 1px solid #E6E6E6;
    box-sizing: border-box;
    margin-bottom: 110px;
}

.box img {
    padding-top: 38px;
}

.work_name {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0;
    color: #48555B;
}

.work_direction {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 23px;
    letter-spacing: 0;
    color: #48555B;
    padding-bottom: 30px;
}

.get_in_touch {
    background: url(../img/bg1.png) no-repeat center;
    background-size:cover;
    padding-bottom: 200px;
    padding-top: 115px;
}

.get_in_touch h2 {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    letter-spacing: 0;
    color: #48555B;
    margin-bottom: 40px;
}

.get_in_touch button {
    display: block;
    width: 150px;
    height: 40px;
    background: #00A4E5;
    border: none;
    color: white;
    margin: auto;
    outline: none;
}
.get_in_touch a{
    color: white;
    outline: none;
    text-decoration: none;
    border: none;
}

.get_in_touch button:hover {
    animation-name: get_in_touch_button;
    animation-fill-mode: forwards;
    animation-duration: 1s;

}

.get_in_touch button:focus {
    background-color: #052d3d;
}

@keyframes get_in_touch_button {
    100% {
        background-color: #0d5875;
        border-radius: 5%;
    }
}

.email_form {
    background-color: #171819;
    display: flex;
    justify-content: center;
    align-items: center;

}

.email_form h3 {
    margin-top: 0;
    margin-bottom: 0;
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 1px;
    color: #FFFFFF;
    padding: 35px 55px;
}

.singup {
    padding: 30px 55px;
    display: inline-block;
    margin-right: 10px;
}

.email_input {
    padding: 11px 100px 11px 15px;
}

.signup_button {
    width: 150px;
    height: 40px;
    background: #00A4E5;
    border: none;
    color: white;
}


@media(max-width: 800px) {
    .content h1 {
        font-size: 30px;
    }

    header {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    nav {
        margin-right: 1em;
    }

    nav a {
        font-size: 5px;
    }

    .ourstory_content {
        display: flex;
        justify-content: center;
        padding-left: 1.5em;
        padding-right: 1.5em;
    }

    .img img {
        float: right;
    }

    .text {
        margin: auto 1em auto auto;
    }
    .service_wrapper{
      display:block;
    }
    .service {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .header_and_line {
        display: block;
        margin: auto;
    }

    .service p {
        text-align: center;
        width: 75%;
    }

    .service hr {
        float: none;
    }

    .service button {
        display: block;
        margin: auto auto 20px;
    }

    .ourworks {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .email_form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .email {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

}

